h1{

margin-top: 15px;
color: #C29F19;
}

.contenedorDondeEstamos{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 60px;

}

.textoDondeEstamos{
    text-align: center;
    padding-bottom: 15px;
    width: 70%;
    
    
}

 .tituloQuienesSomos{
 
     margin-top: 15px;
 
 }

.homeContainer{

    margin-bottom: 40px;
}
