
.quienesSomos {
   display: flex;
   align-items: center;
   flex-direction: column;


}

.tituloQuienesSomos{

    margin-top: 15px;
    padding-bottom: 8px;
}

.texto{
    text-align: center;
    padding-bottom: 15px;
    width: 60%;
}

.parrafo1{
    color: black;
}
.parrafo2{
    color: red;
}

.homeContainer{

    padding-bottom: 3px;
}




